

/* changes by styling the body */

body{

        background: gray; /* set background to gray */
        color: #282828 ; /* font color set to green */
        font-family: "Arial", sans-serif; /* set the famnily fon to san-serif */
        
}


/* changes by styling directly the heading */

h1{
        font-style: italic;  /* text of heading showed in italics */
        text-align: center;  /* header centered in the page */
        text-transform: uppercase; /* words in header will appear in uppercase */
        border-style: solid; /* heading with a solid border */
}



/* changes by styling the heading while mouse pointer is over the header */

h1:hover{

        color:red; /* font color changes to red */
        background:white; /* background inside the border changes to white */
        font-style: normal; /* text changes from italic to normal style */

}


